    <div class="blog-footer">
      <p>С любовью к гармонии и помощью <a href="http://getbootstrap.com">Bootstrap-а</a>.</p>
      <p>Во время написания заметок ни один правообладатель не пострадал.</p>
      <p>
        <a href="/">На главную</a>
      </p>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script>$( window ).load(function() { $('img').addClass( 'img-responsive' ); });</script>
